h1 {
    font-family: "Arial Black", serif;
    font-size: 48px;
    background: darkgrey;
    color: #3399ff;
    text-align: center;
    padding: 8px;
}

.title {
    font-family: Futura, serif;
    font-size: large;
    font-weight: bold;
}

.author {
    font-family: "Arial Black", serif;
    font-size: medium;
    font-weight: normal;
}